<div class="footer">
    <div class="logo-column">
        <div class="logo">
            <svg width="51" height="38" viewBox="0 0 51 38" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.2782 37.5593V33.5823H24.5963C24.2418 26.6447 21.7046 20.8229 16.9848 16.1168C12.2649
                    11.4107 6.60334 9.05768 0 9.05768V5.08071C6.02721 5.08071 11.434 6.81511 16.2203 10.2839C21.0066
                    13.7527 24.4634 18.271 26.5906 23.8387C28.0531 19.8176 30.2579 16.1389 33.2051 12.8027C36.1522
                    9.46642 39.7087 6.6715 43.8745 4.41788H33.2383V0.440918H50.5222V17.6744H46.5336V7.53317C41.1712
                    10.3171 36.9277 13.9626 33.8033 18.4698C30.6789 22.9771 28.9395 28.0145 28.5849 33.5823H33.9031V37.5593H19.2782Z"
                />
            </svg>
            <span>MyTripCenter</span>
        </div>
        <div class="copyright">Copyright 2022, ABC Limo Company, LLC. All rights reserved.</div>
    </div>
    <div class="contact-column">
        <p>Contact Us</p> 
        <p>limocompany@email.com</p> 
        <p>+ 1 (425) 555 - 26 - 71</p> 
        <p>+ 1 (555) 666 - 22 - 11</p> 
    </div>
    <div class="nav-column">
        <div class="navigation">
            <a href="">My Account</a>
            <a href="">My Trips</a>
            <a href="">Trip Dashboard</a>
            <a href="">New Trip</a>
        </div>
        <div class="social-actions">
            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                <span class="e-icons e-plus-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.9998 0.894775C5.41916 0.894775 0.894531 5.41941 0.894531 11C0.894531 16.0661
                            4.62674 20.2497 9.48906 20.9807V13.6779H6.98885V11.0219H9.48906V9.25435C9.48906 6.32804
                            10.9147 5.04383 13.3467 5.04383C14.5114 5.04383 15.1278 5.13057 15.4192 5.1693V7.48762H13.7602C12.7278 
                            7.48762 12.3674 8.46699 12.3674 9.57014V11.0219H15.3931L14.983 13.6779H12.3674V21.0017C17.2996 20.3331 
                            21.1051 16.1158 21.1051 11C21.1051 5.41941 16.5804 0.894775 10.9998 0.894775Z"/>
                    </svg>
                </span>
            </SfButton>
            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                <span class="e-icons e-plus-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.9998 0.894775C5.41916 0.894775 0.894531 5.41941 0.894531 11C0.894531 16.5807 5.41916 21.1053
                        10.9998 21.1053C16.5804 21.1053 21.1051 16.5807 21.1051 11C21.1051 5.41941 16.5804 0.894775 10.9998
                        0.894775ZM7.20695 5.44467C7.916 5.44467 8.38843 5.91709 8.38843 6.54699C8.38843 7.17688 7.916 7.6493
                        7.12864 7.6493C6.41958 7.65014 5.94716 7.17688 5.94716 6.54699C5.94716 5.91709 6.41958 5.44467 7.20695
                        5.44467ZM8.47348 15.2106H5.94716V8.47372H8.47348V15.2106ZM16.8945 15.2106H14.5164V11.5289C14.5164 10.5108
                        13.8823 10.2758 13.6448 10.2758C13.4074 10.2758 12.6141 10.4325 12.6141 11.5289C12.6141 11.6855 12.6141
                        15.2106 12.6141 15.2106H10.1577V8.47372H12.615V9.41351C12.9316 8.8653 13.5657 8.47372 14.7547 8.47372C15.9438
                        8.47372 16.8945 9.41351 16.8945 11.5289V15.2106Z"/>
                    </svg>
                </span>
            </SfButton>
            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                <span class="e-icons e-plus-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.9998 0.894775C5.41916 0.894775 0.894531 5.41941 0.894531 11C0.894531 16.5807 5.41916 21.1053
                        10.9998 21.1053C16.5804 21.1053 21.1051 16.5807 21.1051 11C21.1051 5.41941 16.5804 0.894775 10.9998 0.894775ZM16.4432
                        8.92425C16.4482 9.03625 16.4507 9.14741 16.4507 9.25856C16.4507 12.6842 13.8444 16.632 9.07727 16.632C7.61285 16.632
                        6.25116 16.2034 5.10506 15.4674C5.308 15.4918 5.51432 15.5028 5.724 15.5028C6.93916 15.5028 8.05579 15.0893 8.94169
                        14.3929C7.80737 14.3718 6.8499 13.6224 6.52064 12.5933C6.67895 12.6236 6.84148 12.6396 7.00822 12.6396C7.24485 12.6396
                        7.47474 12.6076 7.69116 12.5487C6.50548 12.3112 5.612 11.2636 5.612 10.008C5.612 9.99709 5.612 9.98614 5.612 9.9752C5.96148
                        10.1697 6.36064 10.2859 6.7859 10.2994C6.09116 9.83541 5.63306 9.0413 5.63306 8.14278C5.63306 7.66699 5.76022 7.22151
                        5.98337 6.84004C7.26169 8.40804 9.17158 9.44046 11.3248 9.54825C11.2811 9.35878 11.2583 9.16088 11.2583 8.95793C11.2583
                        7.5272 12.4187 6.36593 13.8495 6.36593C14.5947 6.36593 15.2684 6.68088 15.7408 7.18446C16.3312 7.06741 16.8861 6.85267
                        17.3872 6.55541C17.1935 7.16088 16.7825 7.66783 16.247 7.98951C16.7707 7.9272 17.2701 7.78825 17.7358 7.58193C17.3897
                        8.10235 16.951 8.55793 16.4432 8.92425Z"/>
                    </svg>
                </span>
            </SfButton>
            <SfButton CssClass="e-round ba-btn-round" IsPrimary="true">
                <span class="e-icons e-plus-icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.125 12.225V0.383301H11.875V12.225H10.125ZM11 21.5583C9.56111 21.5583 8.20486 21.2812 6.93125
                        20.7271C5.65764 20.1729 4.54444 19.4194 3.59167 18.4666C2.63889 17.5139 1.88542 16.4007 1.33125 15.1271C0.777083
                        13.8534 0.5 12.4972 0.5 11.0583C0.5 9.50274 0.830555 8.04927 1.49167 6.69788C2.15278 5.3465 3.08611 4.1458 4.29167
                        3.0958L5.51667 4.3208C4.48611 5.15691 3.68403 6.15344 3.11042 7.31038C2.53681 8.46733 2.25 9.71663 2.25 11.0583C2.25
                        13.4889 3.10069 15.5548 4.80208 17.2562C6.50347 18.9576 8.56944 19.8083 11 19.8083C13.4306 19.8083 15.4965 18.9576
                        17.1979 17.2562C18.8993 15.5548 19.75 13.4889 19.75 11.0583C19.75 9.71663 19.4632 8.45761 18.8896 7.28122C18.316
                        6.10483 17.5333 5.11802 16.5417 4.3208L17.7958 3.0958C18.9625 4.08747 19.8715 5.27358 20.5229 6.65413C21.1743
                        8.03469 21.5 9.50274 21.5 11.0583C21.5 12.4972 21.2229 13.8534 20.6687 15.1271C20.1146 16.4007 19.366 17.5139
                        18.4229 18.4666C17.4799 19.4194 16.3715 20.1729 15.0979 20.7271C13.8243 21.2812 12.4583 21.5583 11 21.5583Z"/>
                    </svg>
                </span>
            </SfButton>
        </div>
    </div>
</div>