<div class="summary">
    <SfCard>
        <div class="col-flex">
            <div class="row">
                <div class="three-columns">
                    <div class="car-picture">
                        <div class="img-bg">
                            <img src="resources/car.png" alt="car">
                        </div>
                        <div class="details">
                            <p class="car-name">Mercedes-Benz GLE 250</p>
                            <div class="car-occupancy">
                                <div class="luggage">
                                    <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.91699 14.0001H2.66699V6.50008H3.91699V14.0001ZM6.62533 14.0001H5.37533V6.50008H6.62533V14.0001ZM9.33366
                                            14.0001H8.08366V6.50008H9.33366V14.0001ZM10.167 4.00008H8.50033V1.50008C8.50033 1.04175 8.12533 0.666748 7.66699
                                            0.666748H4.33366C3.87533 0.666748 3.50033 1.04175 3.50033 1.50008V4.00008H1.83366C0.916992 4.00008 0.166992 
                                            4.75008 0.166992 5.66675V14.8334C0.166992 15.7501 0.916992 16.5001 1.83366 16.5001C1.83366 16.9584 2.20866 
                                            17.3334 2.66699 17.3334C3.12533 17.3334 3.50033 16.9584 3.50033 16.5001H8.50033C8.50033 16.9584 8.87533 
                                            17.3334 9.33366 17.3334C9.79199 17.3334 10.167 16.9584 10.167 16.5001C11.0837 16.5001 11.8337 15.7501 
                                            11.8337 14.8334V5.66675C11.8337 4.75008 11.0837 4.00008 10.167 4.00008ZM4.75033 
                                            1.91675H7.25033V4.00008H4.75033V1.91675ZM10.167 14.8334H1.83366V5.66675H10.167V14.8334Z" 
                                            fill="#0A0A0B"/>
                                    </svg>
                                    <p>x 3</p>
                                </div>
                                <div class="persons">
                                    <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.50033 7.45841C4.55033 7.45841 0.666992 8.43341 0.666992 10.3751V11.8334H12.3337V10.3751C12.3337 
                                            8.43341 8.45033 7.45841 6.50033 7.45841ZM2.61699 10.1667C3.31699 9.68341 5.00866 9.12508 6.50033 9.12508C7.99199 
                                            9.12508 9.68366 9.68341 10.3837 10.1667H2.61699ZM6.50033 6.00008C8.10866 6.00008 9.41699 4.69175 
                                            9.41699 3.08341C9.41699 1.47508 8.10866 0.166748 6.50033 0.166748C4.89199 0.166748 3.58366 1.47508 
                                            3.58366 3.08341C3.58366 4.69175 4.89199 6.00008 6.50033 6.00008ZM6.50033 1.83341C7.19199 1.83341 
                                            7.75033 2.39175 7.75033 3.08341C7.75033 3.77508 7.19199 4.33341 6.50033 4.33341C5.80866 4.33341 
                                            5.25033 3.77508 5.25033 3.08341C5.25033 2.39175 5.80866 1.83341 6.50033 1.83341ZM12.367 7.50841C13.3337 
                                            8.20842 14.0003 9.14175 14.0003 10.3751V11.8334H17.3337V10.3751C17.3337 8.69175 14.417 7.73342 12.367 
                                            7.50841ZM11.5003 6.00008C13.1087 6.00008 14.417 4.69175 14.417 3.08341C14.417 1.47508 13.1087 0.166748 
                                            11.5003 0.166748C11.0503 0.166748 10.6337 0.275081 10.2503 0.458415C10.7753 1.20008 11.0837 2.10841 
                                            11.0837 3.08341C11.0837 4.05841 10.7753 4.96675 10.2503 5.70841C10.6337 5.89175 11.0503 6.00008 11.5003 
                                            6.00008Z" fill="#0A0A0B"/>
                                    </svg>
                                    <p>+ 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timings">
                        <div>
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 9H6V11H4V9ZM18 4V18C18 19.1 17.1 20 16 20H2C0.89 20 0 19.1 0 18L0.00999999 4C0.00999999 
                                    2.9 0.89 2 2 2H3V0H5V2H13V0H15V2H16C17.1 2 18 2.9 18 4ZM2 6H16V4H2V6ZM16 18V8H2V18H16ZM12 11H14V9H12V11ZM8 
                                    11H10V9H8V11Z" fill="#0A0A0B"/>
                            </svg>
                            <p>1 January 2022</p>
                        </div>
                        <div>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 
                                    9.99 0ZM10 18C5.58 18 2 14.42 2 10C2 5.58 5.58 2 10 2C14.42 2 18 5.58 18 10C18 14.42 14.42 18 
                                    10 18ZM10.5 5H9V11L14.25 14.15L15 12.92L10.5 10.25V5Z" fill="#0A0A0B"/>
                            </svg>
                            <p>12:00 PM</p>
                        </div>
                        <div>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.24 5.76C13.07 4.59 11.54 4 10 4V10L5.76 14.24C8.1 16.58 11.9 16.58 14.25 14.24C16.59 11.9 
                                    16.59 8.1 14.24 5.76ZM10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 
                                    4.48 15.52 0 10 0ZM10 18C5.58 18 2 14.42 2 10C2 5.58 5.58 2 10 2C14.42 2 18 5.58 18 10C18 14.42 
                                    14.42 18 10 18Z" fill="#0A0A0B"/>
                            </svg>
                            <p>3 h 15 mins</p>
                        </div>
                    </div>
                    <div class="locations">
                        <div class="pins">
                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 0C3.13 0 0 3.13 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 3.13 10.87 0 7 0ZM2 
                                    7C2 4.24 4.24 2 7 2C9.76 2 12 4.24 12 7C12 9.88 9.12 14.19 7 16.88C4.92 14.21 2 9.85 2 7Z" fill="#0A0A0B"/>
                                <path d="M7 9.5C8.38071 9.5 9.5 8.38071 9.5 7C9.5 5.61929 8.38071 4.5 7 4.5C5.61929 4.5 4.5 5.61929 
                                    4.5 7C4.5 8.38071 5.61929 9.5 7 9.5Z" fill="#0A0A0B"/>
                            </svg>
                            <div class="dashes"></div>
                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 0C3.13 0 0 3.13 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 3.13 10.87 0 7 0ZM7 9.5C5.62 
                                    9.5 4.5 8.38 4.5 7C4.5 5.62 5.62 4.5 7 4.5C8.38 4.5 9.5 5.62 9.5 7C9.5 8.38 8.38 9.5 7 9.5Z" fill="#0A0A0B"/>
                            </svg>
                        </div>
                        <div class="location-name">
                            <p>PBI - Palm Beach International Airport</p>
                            <div class="additional-stop">
                                <svg width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.4163 0.833252V3.33325H15.9163V4.99992H13.4163V7.49992H11.7497V4.99992H9.24967V3.33325H11.7497V0.833252H13.4163ZM6.74967 
                                        10.8333C7.66634 10.8333 8.41634 10.0833 8.41634 9.16658C8.41634 8.24992 7.66634 7.49992 6.74967 
                                        7.49992C5.83301 7.49992 5.08301 8.24992 5.08301 9.16658C5.08301 10.0833 5.83301 10.8333 6.74967 
                                        10.8333ZM8.41634 2.70825V5.83325H10.9163V8.33325H13.3497C13.3913 8.65825 13.4163 8.99158 13.4163 
                                        9.33325C13.4163 12.0999 11.1913 15.3749 6.74967 19.1666C2.30801 15.3749 0.0830078 12.0999 0.0830078 
                                        9.33325C0.0830078 5.18325 3.24967 2.49992 6.74967 2.49992C7.31634 2.49992 7.87467 2.56659 8.41634 
                                        2.70825Z"/>
                                </svg>
                                <p>+ 3 additional Stops</p>
                            </div>
                            <p>99999 Smithsonian Street Apt b, West Palm Beach, FL 33333</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Price Total: <span>$79</span></p>
            </div>
        </div>
    </SfCard>
</div>

