h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #0A0A0B;
}

.summary {
    margin-top: 20px;
    margin-bottom: 32px;
}

.tab-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    gap: 20px;
}

.checkbox-row {
    margin-top: 15px;
    margin-left: 10px;
}

.collapsibles {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.removable-cards {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.add-passenger {
    margin-left: auto;
}

.additional-items-checklist {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.additional-items-row {
    display: grid;
    grid-template-columns: 35% 10% 10% 35% 10%;
}

.additional-items-row > div {
    display: flex;
    gap: 12px;
}

.additional-items-row ::deep .e-btn.e-round.ba-btn-round {
    width: 24px;
    height: 24px;
    background-color: #F3F5FB;
    border: none;
}

.additional-items-row .spacer {
    flex: 1;
}

.additional-items-separator {
    margin-top: 37px;
    margin-bottom: 20px;

    border: 0.5px solid #DADEEF;
}

.additional-items-total {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}