h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #0A0A0B;
}

.summary {
    margin-top: 20px;
    margin-bottom: 32px;
}

.tab-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    gap: 20px;
}

.checkbox-row {
    margin-top: 15px;
    margin-left: 10px;
}

.collapsibles {
    display: flex;
    flex-direction: column;
    gap: 24px;
}